<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="InstanceSection" type="CFI.InstallationManager.Configuration.InstanceConfigurationSection, CFI.InstallationManager.TypesAndInterfaces" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CFI.InstallationManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CFI.InstallationManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="MailBee.SmtpMail.Smtp.LicenseKey" value="MN600-11D9E6A9D910D9CCD9C6D8B6D67A-0D09" />
    <add key="CurrentInstance" value="CFI" />
  </appSettings>
  <applicationSettings>
    <CFI.InstallationManager.Properties.Settings>
    </CFI.InstallationManager.Properties.Settings>
  </applicationSettings>
  <InstanceSection>
    <Instances>
      <add Name="NISI" SQLServer="InstallationMgrServer" InitialCatalog="NISICatalog" />
      <add Name="CFI" SQLServer="localhost\SqlServer" InitialCatalog="InstallationManager" />
      <add Name="Live" SQLServer="Atl-sql-01\SqlExpress" InitialCatalog="InstallationManager" />
    </Instances>
  </InstanceSection>
</configuration>