<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="InstanceSection" type="CFI.InstallationManager.Configuration.InstanceConfigurationSection, CFI.InstallationManager.TypesAndInterfaces" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CFI.InstallationManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CFI.InstallationManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="MailBee.SmtpMail.Smtp.LicenseKey" value="MN600-11D9E6A9D910D9CCD9C6D8B6D67A-0D09" />
    <add key="CurrentInstance" value="Live" />
  </appSettings>
  <applicationSettings>
    <CFI.InstallationManager.Properties.Settings>
    </CFI.InstallationManager.Properties.Settings>
  </applicationSettings>
  <entityFramework>
    <!--<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>-->
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <InstanceSection>
    <Instances>
      <add Name="NISI" SQLServer="CFI" InitialCatalog="NISICatalog" />
      <add Name="CFI" SQLServer="RANDR-LAP-01" InitialCatalog="InstallationManager" />
      <add Name="Live" SQLServer="atl-sql-01\SQLExpress" InitialCatalog="InstallationManager" />
    </Instances>
  </InstanceSection>
	  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.4.0.0" newVersion="4.4.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_IQBServices" />
			</basicHttpBinding>
			<netNamedPipeBinding>
				<binding name="NetNamedPipeBinding_IQBServices" />
			</netNamedPipeBinding>
		</bindings>
		<client>
			<endpoint address="http://atl-pc-26:8000/QBServer" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IQBServices" contract="QBServer.IQBService"
                name="BasicHttpBinding_IQBServices" />
			<endpoint
				address="net.pipe://atl-pc-26.custom-installs.com/QBServer"
				binding="netNamedPipeBinding"
                bindingConfiguration="NetNamedPipeBinding_IQBServices"
                name                ="NetNamedPipeBinding_IQBServices"
				contract			="QBServer.IQBService">
				<!--<identity>
                    <userPrincipalName value="RandR-PC-01\Rrobert" />
                </identity>-->
			</endpoint>
		</client>
	</system.serviceModel>

</configuration>